# Node / Yarn
node_modules/
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
.cache

# Hardhat / Solidity
artifacts/
cache/
typechain/
coverage/
*.tsbuildinfo

# Environment / Secrets
.env
.env.local
.env.*.local

# Logs
*.log

# VSCode
.vscode/
